.text-justify{text-align: justify !important;}
.navactive{background: green !important; color: white !important;}
#scrollUp{right: 95% !important}
.tata .tata-text{color: #fff !important}
.ltn__breadcrumb-area{padding-top: 20px !important; padding-bottom: 20px !important}

.footer-menu ul li{margin-bottom: 1px !important}
#text-theme{color: var(--ltn__secondary-color) !important}
